*{
    box-sizing:border-box ;
}

.form-container{
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    width: 50%;
    margin-left: 25%;
    max-width:100% ;
    margin-top: 46px;
}

.form-header{
    background-color:#f7f7f7 ;
    padding: 20px 40px;
    border-bottom: 1px solid #f0f0f0;
    text-align: center;
}

.form-header h2{
    margin: 0px;

}

.Signup-form{
    padding: 30px 132px;
    
}

.Sform-control{
    margin-bottom: 10px;
    padding-bottom: 10px;
    position: relative;
}

.Sform-control label{
    display: inline-block;
    margin-bottom: 5px;

}

.Sform-control input{
    border: 2px solid #f0f0f0;
    border-radius:4px;
    display: block;
    padding:10px;
    font-size: 14px;
    font-family:inherit;
    width: 100%;
}

.success input{
    border-color:#2ecc71 ;
    background-color: #2ecc701a;
}

.error input{
    border-color:#e74c3c ;
    background-color: #e74d3c28;
}

.Sform-control i{
    position: absolute;
    top: 40px;
    right: 10px;
    visibility: hidden;
}

.success .fa-check-circle{
    visibility: visible;
    color: #2ecc71;
}


.error .fa-exclamation-circle{
    visibility: visible;
    color: #e74c3c;
}

.Sform-control small{
    visibility: hidden;
    position: absolute;
    bottom: -8px;
    left: 0px;
}

.error small{
    visibility: visible;
    color: #e74c3c;
}

.Signup-form button{
    display: block;
    width: 50%;
    margin-left: 95px;
    padding: 10px;
    font-size: 16px;
    font-family: inherit;


}







#preview #previews{
    width: 100%;
    height: 700;
    border: 1px solid black;
}